@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: rgb(9 9 11); /* zinc-950 */
    color: rgb(244 244 245);       /* zinc-100 */
  }

  * {
    box-sizing: border-box;
  }
}
